html,
body {
  position: relative;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Lav breakpoint ved 768 992 og 1200 px (brug em, rem eller % til skrifttyper*/

:root {
  --light-green: #DFF0B9;
  --neon-green: #a8f00c;
  --light-blue: #a8ccff;
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #33332e;
  --white: #fffef5;
  --line-color: #383495;
  --cta-border-radius: 20px;
  --border-radius: 50px;

  font-family: "graveur-variable", sans-serif;
  font-variation-settings: "opsz" 10, "wght" 400;

  color: var(--text-color-dark);
  background-color: var(--white);
}

h1 {
  font-size: clamp(4rem, 10vw, 8rem);
  margin: 0;
  line-height: 117%;
}

a {
  text-decoration: none;
  color: var(--text-color-dark);
}

.page {
  width: 100%;
  margin: 0 auto;
}

/*---------------Nav Bar---------------*/

nav {
  width: 100vw;
  padding: 1.8rem;
  position: sticky;
  top: 0;
}

nav a {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--text-color-dark);
  font-size: 1.2rem;
}

.nav-desktop {
  display: none;
}

.burger-btn {
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.menu-overlay > * {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  text-align: center;
}

hr {
  width: 80%;
  border: none;
  border-top: 2px solid var(--text-color-dark);
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 20; /* over menu overlay */
}

.active {
}

.logo {
  text-decoration: none;
}

.contact-cta {
  background-color: var(--neon-green);
  padding: 1rem;
  border-radius: var(--cta-border-radius);
}

/*--------- Intro Section ---------*/

.intro {
  height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 30%;
  margin-bottom: 100px;
}

.heading-mobile {
  font-size: 4rem;
  text-align: left;
  margin: 1rem 0;
}

.heading-desktop {
  display: none;
}

.signature {
  min-width: 261px;
  height: auto;
  max-width: 60%;
}

.cls-1 {
  fill: none;
  stroke: var(--line-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8px;
  stroke-dasharray: 1000;
}
/*--------- Project-cards ---------*/

.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}

.project-card {
  background-color: var(--light-blue);
  margin: 1rem;
  padding: 0.8rem;
  text-decoration: none;
  color: var(--text-color-dark);
  max-width: 326px;
}

.img-container {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
 object-fit:cover;
  transition: transform 0.3s ease;
}

.project-card p {
  font-size: 1.2rem;
}

.project-card h2 {
  font-size: 2rem;
}

.project-card-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  font-size: 1rem;
}

.project-card-heading{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.project-card-heading p{
  font-size: 1.8rem;
}

/*------------SkillPill-----------------*/
.skill-pill {
  display: inline-block;
  background-color: var(--light-green);
  color: var(--text-color-dark);
font-family: "poppins", sans-serif;
font-size: 1.2rem;

  padding: 0.5rem 0.9rem;
  border-radius: var(--border-radius);
  font-size: 0.9rem;
  margin: 0.2rem;
}

/*-------------Footer---------------*/
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: var(--text-color-dark);
  text-align: center;
  justify-content: center;
  padding: 1.2rem 2rem;
  font-size: 0.9rem;
  width: 100vw;
  font-family: "poppins", sans-serif;
}

.link-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  margin: auto;
}
.big-link-container {
  display: flex;
  flex-direction: row;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.3rem;
}

footer a img {
  width: 1rem;
  height: 1rem;
  margin-left: 10px;
}

#footer-signature {
  margin-top: 1.2rem;
  width: 100%;
  height: auto;
  overflow: hidden;
}

#footer-signature img {
  object-fit: fill;
  width: 200px;
  height: auto;
  margin-left: 0;
}

/*---------------------------Media queries---------------------------------*/

/*---------------Tablet-----------------*/

@media (min-width: 768px) {
  .heading-mobile {
    display: none;
  }

  .heading-desktop {
    display: block;
    font-size: 6rem;
    text-align: left;
    margin: 1rem 0;
  }

  .heading-desktop h1:nth-child(2) {
    margin-left: 300px;
  }

  .intro {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 20%;
  }

  h1 {
    line-height: 100%;
  }

  .signature {
    min-width: 300px;
    height: auto;
    min-height: fit-content;
    max-width: 50%;
    margin-top: -50px;
    margin-left: 20%;
  }

  footer{
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  footer p {
    width: fit-content;
  }
  #footer-signature {
width: auto;
}

  .link-container {
    margin-left: 30px;
  }

/*----------------Computer-----------------*/

@media (min-width: 992px) {
  .nav-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    gap: 2rem;
    font-size: 1.2rem;
  }
  nav {
    padding: 0;
  }

  nav a:hover {
    color: var(--neon-green);
    transition: color 0.3s ease;
  }

  .contact-cta {
    position: relative;
    border: var(--neon-green) 2px solid;
    background-color: transparent;
    padding: 0.2rem 1.5rem;
    overflow: hidden;
    display: inline-block;
  }

  .contact-cta span{
    color: var(--text-color-dark);
    z-index: 1;
  }

  .contact-cta .background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--neon-green);
    z-index: 0;
  }

  .burger-btn {
    display: none;
  }

  .site-header {
    flex-direction: row;
    padding: 2rem 4rem;
    align-items: center;
  }

  .intro {
    padding-bottom: 30%;
  }

  .project-card {
    margin: 2rem;
    padding: 1.5rem;
    max-width: 400px;
  }

  .img-container {
    width: 350px;
    height: 350px;
  }
}