html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/* Lav breakpoint ved 768 992 og 1200 px (brug em, rem eller % til skrifttyper*/

:root {
  --green: rgb(38, 76, 89);
  --light-blue: #a8ccff;
  --light-grey: #f1f1f4;
  --text-color-light: #f1f1f1;
  --text-color-dark: #33332e;
  --white: #fffef5;
  --line-color: #383495;

  font-family: "graveur-variable", sans-serif;
  font-variation-settings: "opsz" 10, "wght" 400;

  color: var(--text-color-dark);
  background-color: var(--white);
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: clamp(4rem, 10vw, 8rem);
  margin: 0;
  line-height: 117%;
}

.page {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

/*-----Nav Bar-------*/

nav {
  width: 100vw;
  padding: 1.8rem;
  position: sticky;
  top:0;
}

nav a {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--text-color-dark);
  font-size: 1.2rem;
}

.menulist{
  position:absolute;
  top:100%;
  left:0;
  right:0;
  padding:2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: var(--white);
}

.menulist > *{
text-align: center;
  width: 100%;
  margin: 1rem 0;
  font-size: 3rem;
}

.nav-desktop{
  display: none;
}

.nav-mobile{
  display: flex;
}

.burger-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid var(--text-color-dark);
}

.logo.active {
  font-weight: normal;
  border: none;
}

hr{
  border: none;
  border-top: 2px solid var(--text-color-dark);
  margin: 0;
  padding: 0;
}

/*--------- Intro Section ---------*/

.intro {
  height: 100vh;
  margin: 30px;
  padding-top: 40%;
  padding-bottom: 20%;
}

.heading-mobile {
  font-size: 4rem;
  text-align: left;
  margin: 1rem 0;
}

.heading-desktop {
  display: none;
}

.signature {
  min-width: 261px;
  height: auto;
  max-width: 60%;
}

.cls-1 {
  fill: none;
  stroke: var(--line-color);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 8px;
  stroke-dasharray: 1000;
}
/*--------- Project-cards ---------*/

.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem 0;
}

.project-card {
  background-color: var(--light-blue);
  margin: 2rem;
  padding: 0.8rem;
  text-decoration: none;
  color: var(--text-color-dark);
  max-width: 326px;
}

.img-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

/*---------------------------Media queries---------------------------------*/

@media (min-width: 768px) {
  .heading-mobile {
    display: none;
  }

  .heading-desktop {
    display: block;
    font-size: 6rem;
    text-align: left;
    margin: 1rem 0;
  }

  .heading-desktop h1:nth-child(2) {
    margin-left: 300px;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 20%;
  }

  h1 {
    line-height: 100%;
  }

  .signature {
    min-width: 300px;
    height: auto;
    min-height: fit-content;
    max-width: 50%;
    margin-top: -50px;
    margin-left: 20%;
  }
}

@media (min-width: 992px) {
  .intro {
    padding-bottom: 30%;
  }


  .project-card {
    margin: 2rem;
    padding: 1.5rem;
    max-width: 400px;
  }

  .img-container {
    width: 350px;
    height: 350px;
  }
}
